{% include 'nav.html' %}
<div class="main">
{% block content %}

<div class="">
		<div class="mr-sm-2 mb-2 col-sm-8" style="margin: 10px;">
			<form action="{{ url_for('editItem',itid=itid,itename=itemdetails.itemname)}}" method="POST">
				<div class="panel panel-info">
				  <div class="panel-heading">Edit Item Details</div>
				  <div class="panel-body">
				  	
					  <div class="form-group">
					  	<label class="text-primary" for="itemname">Enter Item Name:</label>
					    <input type="name" class="form-control" name="itemname" value="{{itemdetails.itemname}}">
					  </div>
					  <div class="form-group">
					  	<label class="text-primary" for="brand">Enter brand:</label>
					    <input type="text" class="form-control" name="brand" value="{{itemdetails.brand}}">
					  </div>
					  <div class="form-group">
					  	<label class="text-primary" for="rating">Enter rating:</label>
					    <input type="text" class="form-control" name="rating" value="{{itemdetails.ratings}}">
					  </div>
					  <div class="form-group">
					  	<label class="text-primary" for="packing">Enter packing:</label>
					    <input type="text" class="form-control" name="packing" value="{{itemdetails.packing}}">
					  </div>
					  <div class="form-group">
					  	<label class="text-primary" for="price">Enter price:</label>
					    <input type="text" class="form-control" name="price" value="{{itemdetails.price}}">
					  </div>					  
				  </div> 
				  <div class="panel-footer text-center"><input type="submit" class="btn btn-primary" value="Edit"></div>
				</div>
				</form>
			</div>
</div>
{% endblock content %}